[STORAGE]
STORAGE_ACCOUNT_NAME=storageaccountname
STORAGE_ACCOUNT_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

CONTAINER_NAME_EXEC=procpipeexec
CONTAINER_NAME_INPUT=procpipeinput
CONTAINER_NAME_OUTPUT=procpipeoutput


[BATCH]
BATCH_ACCOUNT_NAME=batchaccountname
BATCH_ACCOUNT_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
BATCH_ACCOUNT_URL=https://batchaccountname.westeurope.batch.azure.com

POOL_ID=testpool2
JOB_ID=DA_job_on_testpool2
TASK_ID_PREFIX=DA_task_

DOCKER_VM_IMAGE=None

[DOCKER]
registry = lalalal
username = John
password = topsecret
image = docker-image